body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.87);
}

body * {
  box-sizing: inherit;
}

.message-box {
  width: 900px;
  max-width: calc(100% - 20px);
  margin: 0 auto 10px;
  height: 1em;
  font-size: 18px;
  color: green;
}

/* .score {
  width: 200px;
  height: 225px;
  padding: 15px;
  border: 5px solid black;
  border-radius: 20px;
  background: rgb(10, 134, 93);
  color: black;
} */

.message-box.error {
  color: rgb(122, 0, 0)
}

.table {
  width: 100%;
  border: 5px solid black;
  border-radius: 75px;
  background: #52c234;
  background: -webkit-linear-gradient(to bottom, #42b319, #174709);
  background: linear-gradient(to bottom, #38ce01, #000000);
  margin: 0 auto;
  color: black;
  padding: 40px;
  font-size: 30px;
}

.player {
  margin: 20px;
}

.player-name {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
}

.points {
  font-style: italic;
}

.hand {
  height: 200px;
  background: rgba(3, 14, 0, 0.5);
  border-radius: 5px;
}

.hand img {
  height: 100%;
  width: auto;
  padding: 10px 0 10px 10px;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  margin: 20px;
  font-size: 25px;
  border: 2;
  padding: 10px 16px;
  border-radius: 10px;
  color: whitesmoke;
  background: red;
}

button:hover {
  cursor: pointer;
  background: black;
  box-shadow: 0px 0px 10px 5px black;
}

button[disabled] {
  color: rgb(160, 160, 160);
  background: rgb(71, 71, 71);
}

button[disabled]:hover {
  cursor: not-allowed;
  background: rgb(71, 71, 71);
  box-shadow: none;
}

button[type="reset"] {
  color: rgb(255, 184, 184);
  background: rgb(133, 8, 8);
}

button[type="reset"]:hover {
  background: rgb(150, 7, 7);
  box-shadow: 0px 0px 10px 5px rgba(150, 7, 7, 0.63);
}